
header {
    /* display: flex; */
    color: #000;
    position: fixed;
    /* background-image: url("./v3.jpg"); */
}
header {
    /* display: flex; */
    color: #000;
    position: fixed;
}

nav .div1 {
    padding-right: 925px;
    display: flex;
}

/* nav .div2 {
    padding-left: 320px;
} */
.page h3 {
    padding-left: 200px;
    color: azure;
    height: 270px;
}
header h3 {
    padding-left: 250px;
    color: azure;
    font-size: 40px;
}
.page h1 {
    padding-left: 270px;
    padding-top: 20px;
    color: azure;
    font-size: 60px;
}
header h1 {
    padding-left: 650px;
    padding-top: 20px;
    color: azure;
}
.page {
    height: 620px;
    background-image: url("./legumes.avif") ;
    background-size: cover;
    padding-top: 240px;
    color: bisque;
    
}
.patisseries {
    height: 620px;
    background-image: url("./cake.avif");
    background-size: cover;
    padding-top: 280px;
    color: black;
    padding-left: 450px;
}
.grill {
    height: 620px;
    background-image: url("./gl.jpg");
    padding-top: 320px;
    color: black;
    padding-left: 520px;
}
.form {
    padding-top: 50px;
}
.h1 {
    /* margin-right: 240px; */
    margin-left: 80px;
    padding-bottom: 35px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}
.insc {
    margin-right: 240px;
    margin-left: 250px;
    margin-top: 35px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}
body2 .h1 {
    padding-left: 450px;
    padding-top: 20px;
    color: black;
}
.h2 {
    color: azure;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 35px;
}
.im3 {
    height: 100%;
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
    justify-content: center;
}
.vid {
    display: flex;
}
body3 .h1,
body3 .h2 {
    padding-left: 450px;
    padding-top: 20px;
    color: black;
}
body4 .h1,
body4 .h2 {
    padding-left: 450px;
    padding-top: 20px;
    color: black;
}
body5 h1 {
    padding-left: 450px;
    padding-top: 20px;
    color: black;
}
body5 h3 {
    padding-left: 450px;
    padding-top: 20px;
    color: black;
}
.psu , .psa {
    padding-top: 60px;
    margin-right: 40px;
    margin-left: 40px;
}

.left1 {
    justify-content: space-around;
    margin-left: 180px;
    margin-right: 180px;
    margin-top: 40px;
    margin-bottom: 40px;

}
.im1 , .im2 {
    display: flex;
}
.homepage {
    margin-left: 80px;
    margin-right: 40px;
    /* display: flex; */
    /* background-color: green;
    color: #fff; */
    padding-top: 30px;
}

.footer {
    padding-top: 40px;
    margin-right: 40px;
    margin-left: 40px;
}

.img {
    height: 200px;
    width: 200px;
}
.imgg {
    height: 200px;
    width: 200px;
    padding-left: 10px;
}
.img2 {
    height: 350px;
    width: 400px;
    display: flex;
}
.im4 {
    height: 600px;
    width: 850px;
    padding-top: 15px;
}
.im5 {
    height: 350px;
    width: 400px;
    padding-left: 300px;
}
.plantes {
    justify-content: space-between;
    padding-top: 60px;
    margin-right: 40px;
    margin-left: 40px;
}

.section2 {
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 50px;
}

.section3 {
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 50px;
}
.pa {
    height: 620px;
    background-image: url("./v3.jpg");
    padding-top: 320px;
    color: black;
    padding-left: 520px;
}
.section4 {
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 50px;
}
.feuilles, .epices, .tisanes {
    margin-right: 250px;
    margin-left: 250px;
    margin-top: 100px;
}
.epic {
    border-radius: 5px;
    margin-right: 45px;
    margin-left: 45px;
    margin-top: 60px;
    background-color: bisque;
    margin-bottom: 55px;
    display: flex;
}
.fin {
    display: flex;
}
.end {
    background-color: gray;
    color: black;
    justify-content: space-around;
    /* padding-left: 500px; */
    /* padding-right: 570px; */
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 15px;
    display: flex;
}
/* .end p {
    padding-top: 20px;
} */
.logos {
    display: flex;
}
.logo {
    height: 30px;
    width: 30px;
    padding-left: 8px;
    color: wheat;
}
.trois {
    display: flex;
    margin-top: 60px;
    margin-left: 20px;
    justify-content: space-around;
}
.foot {
    background-image: url("./psu7\ \(1\).jpg");
    height: 620px;
    padding-top: 320px;
}
/* .gp , .gl , .gv {
    display: flex;
} */


@media(max-width: 1200px) {
    header {
        flex-direction: column;
        padding: 0;
        margin: 0;
        position: relative;
        display: block;
        width: 100%;
    }

    header h1 {
        padding: 10px;
        width: 50%;
    }

    .homepage {
        flex-direction: column;
        padding: 0;
        margin: 0;
        width: 100%;
    }
    .right1 {
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .left1 {
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .img {
        margin: 0;
        padding: 0;
        /* height: 40px;
        width: 40px; */
    }
    .insc {
        flex-direction: column;
        width: 50%;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    .plantes {
        flex-direction: column;
        width: 100%;
    }
    .grill {
        flex-direction: column;
        width: 100%;
    }
    .patisseries {
        flex-direction: column;
        width: 100%;
    }
    .page {
        flex-direction: column;
        width: 100%;
    }
    .end {
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .fin {
        flex-direction: column;
        width: 100%;
    }
    .epic {
        flex-direction: column;
        width: 100%;
    }
    .section2 {
        flex-direction: column;
        width: 100%;
    }
    .section3 {
        flex-direction: column;
        width: 100%;
    }
    .section4{
        flex-direction: column;
        width: 100%;
    }
}
@media(max-width: 900px) {
    header {
        flex-direction: column;
        padding: 0;
        margin: 0;
        position: relative;
        display: block;
        width: 50%;
    }

    header h1 {
        padding: 10px;
        width: 50%;
    }

    .homepage {
        flex-direction: column;
        padding: 0;
        margin: 0;
        width: 50%;
    }
    .plantes {
        flex-direction: column;
        width: 50%;
    }
    .grill {
        flex-direction: column;
        width: 50%;
    }
    .patisseries {
        flex-direction: column;
        width: 50%;
    }
    .page {
        flex-direction: column;
        width: 50%;
    }
    .end {
        flex-direction: column;
        width: 50%;
    }
    .fin {
        flex-direction: column;
        width: 50%;
    }
    .epic {
        flex-direction: column;
        width: 50%;
    }
    .section2 {
        flex-direction: column;
        width: 50%;
    }
    .section3 {
        flex-direction: column;
        width: 50%;
    }
    .section4{
        flex-direction: column;
        width: 50%;
    }
}
@media(max-width: 600px) {
    header {
        flex-direction: column;
        padding: 0;
        margin: 0;
        position: relative;
        display: block;
        width: 50%;
    }

    header h1 {
        padding: 10px;
        width: 50%;
    }

    .homepage {
        flex-direction: column;
        padding: 0;
        margin: 0;
        width: 50%;
    }
    .plantes {
        flex-direction: column;
        width: 50%;
    }
    .grill {
        flex-direction: column;
        width: 50%;
    }
    .patisseries {
        flex-direction: column;
        width: 50%;
    }
    .page {
        flex-direction: column;
        width: 50%;
    }
    .end {
        flex-direction: column;
        width: 50%;
    }
    .fin {
        flex-direction: column;
        width: 50%;
    }
    .epic {
        flex-direction: column;
        width: 100%;
    }
    .section2 {
        flex-direction: column;
        width: 100%;
    }
    .section3 {
        flex-direction: column;
        width: 100%;
    }
    .section4{
        flex-direction: column;
        width: 100%;
    }
}
@media(max-width: 300px) {
    header {
        flex-direction: column;
        padding: 0;
        margin: 0;
        position: relative;
        display: block;
        width: 100%;
    }

    header h1 {
        padding: 10px;
        width: 100%;
    }

    .homepage {
        flex-direction: column;
        padding: 0;
        margin: 0;
        width: 100%;
    }
    .plantes {
        flex-direction: column;
        width: 100%;
    }
    .grill {
        flex-direction: column;
        width: 100%;
    }
    .patisseries {
        flex-direction: column;
        width: 100%;
    }
    .page {
        flex-direction: column;
        width: 100%;
    }
    .end {
        flex-direction: column;
        width: 100%;
    }
    .fin {
        flex-direction: column;
        width: 100%;
    }
    body5 h1 {
        margin: 0;
        padding: 0;
        flex-direction: column;
        width: 100%;
    }
    body5 {
        width: 100%;
    }
    .epic {
        flex-direction: column;
        width: 100%;
    }
    .section2 {
        flex-direction: column;
        width: 100%;
    }
    .section3 {
        flex-direction: column;
        width: 100%;
    }
    .section4{
        flex-direction: column;
        width: 100%;
    }
    .right1 {
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .img {
        margin: 0;
        padding: 0;
        height: 40px;
        width: 40px;
    }
    .insc {
        flex-direction: column;
        width: 100%;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
}